/* --------General------- */

body {
  background-color: #f9f9fa;
  color: #1a2236;
  margin: 0;
  background-image: url(./Resources/image_geometry_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top calc(100vh - 100px) right;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -0.01em;
  text-align: justify;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
}

/* --------Header------- */

header {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-image: url(./Resources/image_geometry_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

#desktop-nav {
  display: none;
}

#hamburger-menu {
  font-size: 2rem;
  height: 40px;
  width: 40px;
  text-align: center;
}

#top-left-shapes {
  height: 100px;
  left: 0;
}

/* --------Sections------- */

section {
  border-color: black;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.4);
}

/* --------intro section------- */

section#intro,
section#about,
form {
  padding: 25px;
}

#intro button {
  width: 100%;
}

button.dark {
  height: 8vh;
  background-color: #1a2236;
  color: white;
  font-size: 1.5rem;
  border: 1px solid white;
  margin-bottom: 50px;
}

button.dark:hover {
  background-color: white;
  color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

button.dark:disabled {
  background-color: gray;
}

/* --------Projects section------- */

.project {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
  row-gap: 25px;
  background-color: #1a2236;
  height: auto;
  min-height: 300px;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.project>img {
  grid-column: 1 / span 5;
  grid-row: 1;
  object-fit: cover;
  width: 100%;
  height: calc(100vw * 9 / 16);
}

.project>h2 {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-bottom: auto;
  margin-top: auto;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
}

.project>ul {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.project>ul>li {
  background-color: #98dede;
  color: black;
  padding: 6px;
  float: left;
  margin-right: 5px;
}

.project>ul>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.project>button {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 4;
  height: 50px;
}

button.light {
  height: 8vh;
  color: #1a2236;
  background-color: white;
  font-size: 1.5rem;
  border: none;
  margin-bottom: 15px;
}

button.light:hover {
  color: white;
  background-color: #1a2236;
  border: 1px solid #1a2236;
  cursor: pointer;
}

button.light:disabled {
  background-color: gray;
}

#about>ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

#about>ul>li {
  margin-bottom: 20px;
  padding: 20px;
}

#about>ul>li>ul {
  list-style-type: disc;
}

#about>ul>li:nth-child(1) {
  background-color: #1c528a;
  background-image: url(./Resources/Sharp.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
}

#about>ul>li:nth-child(2) {
  background-color: #e2505c;
  background-image: url(./Resources/ic_framework.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
}

#about>ul>li:nth-child(3) {
  background-color: #ffa200;
  background-image: url(./Resources/ic_skills.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
}

form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url(./Resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 50px;
}

form>fieldset {
  border-radius: 5px;
  border: 1px solid #dfdfe0;
  background-color: white;
  margin-bottom: 10px;
}

form>fieldset:focus-within {
  border-color: orange;
  outline: orange;
}

form>fieldset>label {
  font-size: 0.8rem;
  color: #7d7c84;
}

form>fieldset>label>input {
  margin-top: 10px;
  width: 100%;
  border: none;
  height: 1.1rem;
  font-size: 1.1rem;
}

form>fieldset>label>input:focus:focus-visible {
  border: none;
  outline: none;
}

form>textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.1rem;
  border-radius: 5px;
  border: 1px solid #dfdfe0;
  background-color: white;
  min-height: 100px;
  padding: 10px;
  resize: vertical;
  overflow: auto;
  margin-bottom: 10px;
}

form>textarea:focus-visible:focus {
  border-color: orange;
  outline: orange;
}


@media screen and (min-width: 600px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-image: none;
  }

  header {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: none;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
  }

  #desktop-nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  header ul>li,
  header a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #1A2236;
  }

  header a:hover {
    color: orange;
    cursor: pointer;

  }

  #hamburger-menu {
    display: none;
  }

  section,
  form {
    padding-top: 100px !important;
  }

  #intro {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 10% 1fr 50%;
    background-image: url(./Resources/Desktop/image-geometry_1.svg);
    min-height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }

  #intro>div {
    grid-column: 2;
    background-image: url(./Resources/Desktop/image_dots.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  #intro h1 {
    font-size: 5rem;
  }

  #intro p {
    text-align: left;
  }

  #intro button {
    width: 50%;
  }

  #Projects {
    display: grid;
    grid-template: 50vh 50vh/ 1fr 2fr;
    background-image: url(./Resources/Desktop/Untitled-1.png);
    row-gap: 30px;
    column-gap: 30px;
    background-size: auto;
  }

  #Projects>h1 {
    text-align: center;
    background-image: url(./Resources/Desktop/image_dots.svg);
    background-repeat: no-repeat;
    font-size: 7rem;
    background-position: right bottom;
    transform: rotate(-90deg);
  }

  .project {
    box-sizing: border-box;
    grid-template-rows: 30% auto;
  }

  .project>img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}